@import url('../../variables.css');

.button {
  display: block;
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  font-family: var(--font-primary);
  text-align: center;
  color: var(--text-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.2s ease;
  transition: background-color 0.2s ease;
  position: relative;
}

.button:hover {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
}

.button:disabled {
  background-color: var(--secondary-color);
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .button {
    width: auto;
    max-width: 200px;
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  .button {
    padding: 14px 30px;
    font-size: 18px;
  }
}
