.app {
  max-width: 1366px;
  width: 100%;
  margin: 0;
  text-align: center;
}

.reviewSec {
  width: 70%;
}

.formSec {
  padding-bottom: 30px;
}

.mainImg {
  opacity: 0.75;
  height: auto;
  width: 100%;
  background-image: url(/public/ai_2.webp);
  background-repeat: no-repeat;
  opacity: 0.7;
  border-radius: 20%;
}

.header {
  display: flex;
  place-content: center;
  flex-direction: column;
  gap: 10px;
}

