@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

.section {
  background-color: var(--background-color);
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  place-items: center;
  width: 100%;
  padding: 10px;
}

.title {
  font-family: var(--font-primary);
  font-size: 1.5rem;
  color: var(--text-color);
  margin-bottom: 1rem;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.main {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  position: relative;
}

.text {
  font-family: var(--font-secondary);
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 1.5rem;
  line-height: 1.6;
  padding: 0 10px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
}

.main::before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
  margin-bottom: 0.5rem;
  position: absolute;
  left: 0;
  bottom: -0.5em;
}

@media (min-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .main {
    font-size: 2.5rem;
  }

  .text {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  section {
    max-width: 1366px;
    gap: 20px;
  }

  .title {
    font-size: 2.5rem;
  }
  
  .main {
    font-size: 3rem;
  }

  .text {
    font-size: 1.4rem;
  }
}