:root {
  --primary-color: #1A487B; /* Глубокий синий цвет, используется для анимации*/
  --secondary-color: #343a40; /* Тёмно-серый цвет */
  --accent-color: #dbeafe;; /* Акцент */
  --accent-transparent-color: rgba(219, 234, 254, 0.5);
  --text-color: #1a1a71; /* Цвет текста */
  --accent-text-color: #fff; /* Цвет текста акцентный*/
  --background-color: #f5f5f5; /* Светлый фон */
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Manrope', sans-serif;
}
